@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #EBEBEB;
}

.title {
  width: 100%;
  height: 48px;
  background-color: #2F2F2F;
  position: fixed;
  top: 0;
  z-index: 15000;
}

.title-text {
  color: #FFFFFF;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.title-back {
  width: 48px;
  height: 48px;
  line-height: 48px;
  position: fixed;
  top: 0;
  z-index: 15001;
  text-align: center;
}

.title-back img {
  width: 16px;
  height: 16px;
  margin-top: 15px;
}

.content {
  margin-top: 48px;
  height: 80%;
}

.list-item {
  background-color: #FFFFFF;
  height: 45px;
  margin-top: 10px;
}

.list-item-text {
  float: left;
  width: auto;
  height: 45px;
  line-height: 45px;
  margin-left: 33px;
  color: #9c9c9e;
}

.list-item-next {
  float: right;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.list-item-next img {
  width: 12px;
  height: 12px;
}

.button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.button .lichkin-button {
  height: 48px !important;
}

.button .lichkin-button .lichkin-text {
  height: 42px !important;
  line-height: 42px !important;
  font-size: 16px !important;
}

.gird-item {
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 10px 20px 0px 20px;
}

.gird-item-key {
  color: #666666;
  float: left;
  padding-bottom: 10px;
  width: 140px;
}

.gird-item-value {
  color: #999999;
  float: left;
  padding-bottom: 10px;
}

/** 改写控件样式 */
.lichkin-textbox {
  height: 38px !important;
}

.lichkin-textbox .lichkin-textbox-text {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 14px !important;
}

.lichkin-textarea {
  height: 81px !important;
}

.lichkin-textarea .lichkin-textarea-text {
  height: 75px !important;
  font-size: 14px !important;
}

.lichkin-form-field {
  padding: 12px 0px 0px 0px !important;
}

.lichkin-form-field .lichkin-form-field-key .lichkin-text {
  height: 34px !important;
  line-height: 34px !important;
  font-size: 14px !important;
}

.button .lichkin-button,
.lichkin-form-field-value .lichkin-button {
  height: 38px !important;
}

.button .lichkin-button .lichkin-text,
.lichkin-form-field-value .lichkin-button .lichkin-text {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 14px !important;
}

