<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lichkin.mybatis.primary.mapper.PssRetailOrderMapper">
  <resultMap id="BaseResultMap" type="com.lichkin.mybatis.primary.mapper.bean.out.PssRetailOrderStatisticsOut">
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BILL_DATE" property="billDate" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="STORAGE_NAME" property="storageName" jdbcType="VARCHAR" />
    <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
    <result column="SALES_AMOUNT" property="salesAmount" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="commonSql">
     select
      <choose>
        <when test="groupByDate == 'day'">
            retail.BILL_DATE,
        </when>
        <when test="groupByDate == 'week'">
            concat_ws('-',calendar.`YEAR`,calendar.WEEK) as BILL_DATE,
        </when>
        <when test="groupByDate == 'month'">
            concat_ws('-',calendar.`YEAR`,calendar.`MONTH`) as BILL_DATE,
        </when>
        <otherwise>
        </otherwise>
      </choose>
      <if test="groupBy != null">
        ${groupBy},
      </if>
      sum(retail.QUANTITY) as QUANTITY,
      sum(retail.UNIT_PRICE*retail.QUANTITY) as SALES_AMOUNT,
      now() as ID
      from
      	t_sys_pss_retail_statistics retail
      inner join t_sys_pss_product prod on
      	retail.PRODUCT_ID = prod.ID
      inner join t_sys_dictionary dictionary on
      	prod.UNIT = dictionary.DICT_CODE
      	and dictionary.CATEGORY_CODE='PSS_PRODUCT_UNIT'
      inner join t_sys_pss_product_category prodCategory on
      	prod.PRODUCT_CATEGORY = prodCategory.ID	
      inner join t_sys_pss_storage storage on
      	retail.STORAGE_ID = storage.ID
      inner join t_sys_pss_store store on
      	retail.STORE_ID = store.ID
      inner join t_sys_employee_login_comp employee
      	on retail.CASHIER = employee.LOGIN_ID
    <if test="groupByDate == 'week' or groupByDate == 'month'">
      inner join t_sys_calendar calendar 
        on retail.BILL_DATE = calendar.CALENDAR_DATE
    </if>
    where
      retail.COMP_ID = '${compId}'
      <if test="startDate != null">
        and retail.BILL_DATE <![CDATA[ >= ]]> '${startDate}'
      </if>
      <if test="endDate != null">
        and retail.BILL_DATE <![CDATA[ <= ]]> '${endDate}'
      </if>
      <if test="productCode != null">
        and prod.PRODUCT_CODE LIKE CONCAT('%','${productCode}','%')
      </if>
      <if test="productName != null">
        and prod.PRODUCT_NAME LIKE CONCAT('%','${productName}','%')
      </if>
      <if test="storageId != null">
        and storage.ID <![CDATA[ = ]]> '${storageId}'
      </if>
      <if test="storeId != null">
        and store.ID <![CDATA[ = ]]> '${storeId}'
      </if>
      <if test="userName != null">
        and employee.USER_NAME LIKE CONCAT('%','${userName}','%')
      </if>
    group by
     <choose>
        <when test="groupByDate == 'day'">
            retail.BILL_DATE
        </when>
        <when test="groupByDate == 'week'">
            concat_ws('-',calendar.`YEAR`,calendar.WEEK)
        </when>
        <when test="groupByDate == 'month'">
            concat_ws('-',calendar.`YEAR`,calendar.`MONTH`)
        </when>
        <otherwise>
        </otherwise>
      </choose>
      <if test="groupByDate != null and groupBy != null">
        ,
      </if>
      <if test="groupBy != null">
        ${groupBy}
      </if>
  </sql>
  
  <select id="findRetailOrderStatisticsTotalCount" parameterType="com.lichkin.mybatis.primary.mapper.bean.in.PssRetailOrderStatisticsIn"  resultType="java.lang.Long">
   select count(1) from (
      <include refid="commonSql"></include>
   ) as t
  </select>

  <select id="findRetailOrderStatistics" parameterType="com.lichkin.mybatis.primary.mapper.bean.in.PssRetailOrderStatisticsIn" resultMap="BaseResultMap">
   <include refid="commonSql"></include>
   LIMIT ${pageStartLine},${pageSize}
  </select>
  
  
</mapper>
