<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lichkin.mybatis.primary.mapper.PssStockInOrderMapper">
  <resultMap id="BaseResultMap" type="com.lichkin.mybatis.primary.mapper.bean.out.PssStockInOrderStatisticsOut"> 
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="BILL_DATE" property="billDate" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="STORAGE_NAME" property="storageName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
    <result column="PURCHASE_AMOUNT" property="purchaseAmount" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="commonSql">
     select
      <choose>
        <when test="groupByDate == 'day'">
            o.BILL_DATE,
        </when>
        <when test="groupByDate == 'week'">
            concat_ws('-',calendar.`YEAR`,calendar.WEEK) as BILL_DATE,
        </when>
        <when test="groupByDate == 'month'">
            concat_ws('-',calendar.`YEAR`,calendar.`MONTH`) as BILL_DATE,
        </when>
        <otherwise>
        </otherwise>
      </choose>
      <if test="groupBy != null">
        ${groupBy},
      </if>
      sum(oprod.QUANTITY) as QUANTITY,
      sum(oprod.PURCHASE_AMOUNT) as PURCHASE_AMOUNT,
      now() as ID,
      o.ORDER_TYPE
    from
      t_sys_pss_stock_in_order_product oprod
    inner join t_sys_pss_stock_in_order o on
      oprod.ORDER_ID = o.ID
    inner join t_sys_pss_product prod on
      oprod.PRODUCT_ID = prod.ID
    inner join t_sys_dictionary dictionary on
      prod.UNIT = dictionary.DICT_CODE
      and dictionary.CATEGORY_CODE='PSS_PRODUCT_UNIT'
    inner join t_sys_pss_product_category prodCategory on
      prod.PRODUCT_CATEGORY = prodCategory.ID 
    inner join t_sys_pss_supplier supplier on
      o.SUPPLIER_ID = supplier.ID
    inner join t_sys_pss_storage storage on
      oprod.STORAGE_ID = storage.ID
    inner join t_sys_employee_login_comp employee
      on o.PURCHASER = employee.LOGIN_ID
    <if test="groupByDate == 'week' or groupByDate == 'month'">
      inner join t_sys_calendar calendar 
        on o.BILL_DATE = calendar.CALENDAR_DATE
    </if>
    where
      o.COMP_ID = '${compId}'
      <if test="startDate != null">
        and o.BILL_DATE <![CDATA[ >= ]]> '${startDate}'
      </if>
      <if test="endDate != null">
        and o.BILL_DATE <![CDATA[ <= ]]> '${endDate}'
      </if>
      <if test="productCode != null">
        and prod.PRODUCT_CODE LIKE CONCAT('%','${productCode}','%')
      </if>
      <if test="productName != null">
        and prod.PRODUCT_NAME LIKE CONCAT('%','${productName}','%')
      </if>
      <if test="supplierId != null">
        and supplier.ID <![CDATA[ = ]]> '${supplierId}'
      </if>
      <if test="storageId != null">
        and storage.ID <![CDATA[ = ]]> '${storageId}'
      </if>
      <if test="userName != null">
        and employee.USER_NAME LIKE CONCAT('%','${userName}','%')
      </if>
      <if test="orderType != null">
        and o.ORDER_TYPE <![CDATA[ = ]]> '${orderType}'
      </if>
    group by
      o.ORDER_TYPE,
     <choose>
        <when test="groupByDate == 'day'">
            o.BILL_DATE
        </when>
        <when test="groupByDate == 'week'">
            concat_ws('-',calendar.`YEAR`,calendar.WEEK)
        </when>
        <when test="groupByDate == 'month'">
            concat_ws('-',calendar.`YEAR`,calendar.`MONTH`)
        </when>
        <otherwise>
        </otherwise>
      </choose>
      <if test="groupByDate != null and groupBy != null">
        ,
      </if>
      <if test="groupBy != null">
        ${groupBy}
      </if>
  </sql>
  
  <select id="findStockInOrderStatisticsTotalCount" parameterType="com.lichkin.mybatis.primary.mapper.bean.in.PssStockInOrderStatisticsIn"  resultType="java.lang.Long">
   select count(1) from (
      <include refid="commonSql"></include>
   ) as t
  </select>

  <select id="findStockInOrderStatistics" parameterType="com.lichkin.mybatis.primary.mapper.bean.in.PssStockInOrderStatisticsIn" resultMap="BaseResultMap">
   <include refid="commonSql"></include>
   LIMIT ${pageStartLine},${pageSize}
  </select>
  
  
</mapper>
